<%- include('blocks/header', {bot, path}) %>

<% const help = {};
bot.commands.forEach((command) => {
  if (command.conf.permLevel === "Bot Owner" || command.conf.hidden === true) return;
  const cat = command.help.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>

<div class="container section">
<div class="row">
<div class="ui secondary inverted vertical pointing menu col-2">
  <% for (const category in help) { %>
  <% if (category === "Info") { %>
  <a class="item tablinks" onclick="openTab(event, '<%= category %>')" id="defaultOpen">
    <%= category %>
  </a>
  <% } else { %>
  <a class="item tablinks" onclick="openTab(event, '<%= category %>')">
    <%= category %>
  </a>
  <% }
  } %>
</div>

<% for (const category in help) { %>
<div id="<%= category %>" class="tabcontent col-10">
  <table class="ui inverted selectable table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Usage</th>
              <th>Perm Level</th>
          </tr>
        </thead>

        <tbody>
        <% for (const command of help[category]) { %>
          <tr>
            <td><%= command.help.name %></td>
            <td><%= command.help.description %></td>
            <td><%= command.help.usage %></td>
            <td><%= command.conf.permLevel %></td>
          </tr>
        <% } %>
        </tbody>
      </table>
  <div class="ui inverted message" style="width: 75%;">
    <code class="inline">&ltargument&gt</code> is an optional argument (defined by the 'less than' and 'greater than' signs)<br>
    <code class="inline">[argument]</code> is a required argument (defined by the square brackets)
  </div>
</div>
<% } %>
</div>
</div>

<script type="text/javascript" src="/public/js/tabs.js"></script>

<% include ./blocks/footer %>