<%- include('blocks/header', {bot, path}) %>

<% const help = {};
bot.commands.forEach((command) => {
  const cat = command.help.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>

<div class="container section">
<div class="row">
<div class="tab-background col-sm-3">
<div class="tab">
  <% for (const category in help) { %>
    <% if (category === "Info") { %>
    <button class="tablinks" onclick="openTab(event, '<%= category %>')" id="defaultOpen">
      <%= category %>
    </button>
    <% } else { %>
    <button class="tablinks" onclick="openTab(event, '<%= category %>')">
      <%= category %>
    </button>
   <% } %>
  <% } %>
</div>
</div>

<% for (const category in help) { %>
<div id="<%= category %>" class="tabcontent col-sm-9">
  <table class="ui selectable inverted table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Usage</th>
              <th>Perm Level</th>
          </tr>
        </thead>

        <tbody>
        <% for (const command of help[category]) { %>
          <tr>
            <td><%= command.help.name %></td>
            <td><%= command.help.description %></td>
            <td><%= command.help.usage %></td>
            <td><%= command.conf.permLevel %></td>
          </tr>
        <% } %>
        </tbody>
      </table>
</div>
<% } %>
</div>
</div>

<script type="text/javascript" src="/public/js/tabs.js"></script>

<% include ./blocks/footer %>