<%- include('blocks/header', {bot, user, path}) %>

<% const help = {};
bot.commands.forEach((command) => {
  const cat = command.help.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>

  <% for (const category in help) { %>
    <br>
<div class="container left">
    <div class="row">
    <div class="col s3">
      <blockquote class="white-text"><h4><%= category %></h4></blockquote>
    </div>
  </div>
</div>
<br>
<div class="container left">
  <ul class="collapsible">
  <% for (const command of help[category]) { %>
        <li>
          <div class="collapsible-header"><span class="black-text"><h6><%= command.help.name %></h6></span></div>
          <div class="collapsible-body">
            <blockquote><%= command.help.description %><br>
              Usage: <%= command.help.usage %></blockquote>
          </div>
        </li>
      <% } %>
  </ul>
</div>
  <% } %>
<% include ./blocks/footer %>