<%- include('blocks/header', {bot, user, path}) %>
<h3>Dashboard</h3>
  <% user.guilds.forEach((guild) => { 
    const permsOnGuild = new perms(guild.permissions);
    if(!permsOnGuild.has("MANAGE_GUILD")) return;
  %>
<div class="dashboard-icon" style="display: inline-block; margin-left: auto; margin-right: auto;">
  <% if (guild.icon) { %>
        <a href="/dashboard/<%= guild.id %>/manage"><img src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=64` %>" alt="<%= guild.name %>" class="circle hoverable tooltipped" data-position="top" data-tooltip="Manage" width="64px" height="64px"></a>
        <% } else { %>
  <a href="/dashboard/<%= guild.id %>/manage"><canvas style="background-color: #7289da" class="circle hoverable tooltipped" id="<%= guild.name.split(' ').join('').replace(`'`, ``) %>" width="64px" height="64px" data-position="top" data-tooltip="Manage"></canvas></a>
          <script>
            function draw() {
              const ctx = document.getElementById("<%= guild.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
              ctx.font = '18px Arial';
              ctx.textAlign = "center";
              ctx.fillStyle = "white";
              ctx.textBaseline = "middle";
              ctx.fillText("<%= guild.name.split(' ').map(v => v[0]).join('') %>", 32, 34);
            };
            draw();
          </script>
          <% } %>
  </div>
  <% }); %>

<% include ./blocks/footer %>