<%
  let tabs = [];
  const help = {};
  bot.commands.forEach((command) => {
    if (command.conf.hidden === true || command.conf.enabled !== true) return;
    const cat = command.help.category;
    if (!help.hasOwnProperty(cat)) help[cat] = [];
    help[cat].push(command);
  });
  bot.config.dashboardTabs.forEach((tab) => {
    let tabName;
    if (tab === "divider") {
      tabName = "divider";
    } else tabName = tab.name;
    tabs.push(tabName);
  });
  let conf = bot.getGuildSettings(guild.id);
  let disabledCommands = conf.disabledCommands;
%>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-auto">
        <div class="ui inverted secondary pointing vertical menu">
          <div class="item">
            <div class="ui tiny image">
              <% if (guild.icon) { %>
              <img src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png` %>">
              <% } else { %>
              <canvas style="background-color: #7289da" id="<%= guild.nameAcronym %>" width="64px" height="64px" style="border: 2px solid white;"></canvas>
              <script>
                function draw() {
                  const ctx = document.getElementById("<%= guild.nameAcronym %>").getContext('2d');
                  ctx.font = '18px Arial';
                  ctx.textAlign = "center";
                  ctx.fillStyle = "white";
                  ctx.textBaseline = "middle";
                  ctx.fillText("<%= guild.nameAcronym %>", 33, 33);
                };
                draw();
              </script>
              <% } %>
            </div>
          </div>
          <div class="ui inverted divider"></div>
          <a class="tablinks item" id="defaultOpen" onclick="openTab(event, 'BotSettings')">
            Basic Settings
          </a>
          <div class="ui left pointing dropdown item">
            <i class="dropdown icon"></i>
            <span class="text">Commands</span>
            <div class="menu">
              <% for (const command in bot.config.dashboardTabs[1].dropdown) { %>
              <a class="tablinks item" onclick="openTab(event, '<%= bot.config.dashboardTabs[1].dropdown[command] %>')">
              <%= bot.config.dashboardTabs[1].dropdown[command] %>
              </a>
              <% } %>
            </div>
          </div>
          <div class="ui left pointing dropdown item">
            <i class="dropdown icon"></i>
            <span class="text">Events</span>
            <div class="menu">
              <a class="tablinks item" onclick="openTab(event, 'guildMemberAdd')">Member Join</a>
              <a class="tablinks item" onclick="openTab(event, 'guildMemberRemove')">Member Leave</a>
              <a class="tablinks item" onclick="openTab(event, 'guildBanAdd')">Member Ban</a>
              <a class="tablinks item" onclick="openTab(event, 'channelCreate')">Channel Create</a>
            </div>
          </div>
          <a class="item" href="/logan/help">
            <span class="text"><i class="small question circle outline icon"></i></span>
          </a>
        </div>
      </div>
      <div class="col-9">
        <%- include('./guild-manage-blocks', {guild}) %>
      </div>
    </div>
  </div>
</div>