<%
const conf = bot.getGuildSettings(guild);
let guildChannels = [];
guild.channels.forEach((channel) => {
  if (channel.type !== 'text' || !channel.type) return;
  guildChannels.push(channel);
});
const nickname = guild.me.nickname !== null && guild.me.nickname !== "" ? guild.me.nickname : bot.user.username;
const help = {};
bot.commands.forEach((command) => {
  if (command.conf.hidden === true || command.conf.enabled !== true) return;
  const cat = command.help.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>

<div id="Bot Settings" class="tabcontent col-md-auto col-sm-auto">
  <div class="ui inverted input">
    <a class="floating ui red label">Nickname</a>
    <input type="text" value="<%= nickname %>" class="changeNick" id="nickname" placeholder="Nickname">
  </div>
  <div class="ui inverted divider"></div>
  <div class="ui inverted input">
    <a class="floating ui blue label">Prefix</a>
    <input type="text" value="<%= conf.prefix %>" class="changePrefix" id="prefix" placeholder="Prefix">
  </div>
  <br>
  <div class="ui inverted divider"></div>
  <button id="leaveButton" class="modal-trigger ui inverted red small button white-text" href="#serverLeaveModal"><i class="fas fa-sign-out-alt"></i>Leave Server</button>
</div>

<% for (const category in help) { %>
<% if (help[category].length === 0) return; %>
<div class="tabcontent col-md-auto col-sm-auto" id="<%= category %>">
  <div class="ui three cards">
    <% for (const command of help[category]) { %>
    <div class="ui raised card">
    <div class="content">
      <div class="header"><%= command.help.name %></div>
      <div class="meta"><% if (conf.prefix != null || conf.prefix != '') { %><%= conf.prefix %><% } else { %><%= bot.config.prefix %><% } %><%= command.help.usage %></div>
      <div class="description">
        <%= command.help.description %>
      </div>
    </div>
      <div class="extra content">
      <div class="ui one buttons">
      <div class="ui small basic <% if (conf.disabledCommands.indexOf(command.help.name) < 0) { %> red <% } else { %> green <% } %> button disableCommand" data-command="<%= command.help.name %>">
      <% if (conf.disabledCommands.indexOf(command.help.name) < 0) { %>
        <i class="remove icon"></i>
        Disable Command
      <% } else { %>
        <i class="plus icon"></i>
        Enable Command
      <% } %>
      </div>
      </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<% } %>

<div class="tabcontent col-md-auto col-sm-auto" id="guildMemberAdd">
  <div class="ui item">
    <select class="ui select dropdown" id="welcomeChannel">
      <% for (let i = 0; i < guildChannels.length; i++) { %>
      <% if (guildChannels[i].name == conf.welcomeChannel) { %>
      <option value="<%= conf.welcomeChannel %>" selected><%= conf.welcomeChannel %></option>
      <% } else { %>
      <option value="<%= guildChannels[i].name %>"><%= guildChannels[i].name %></option>
      <% } %>
      <% } %>
    </select>
  </div>
</div>

<div class="tabcontent col-md-auto col-sm-auto" id="Events">
  <div class="section container">
    <div class="checkAndSelect" style="margin-top: 20px;">
    <label for="welcomeMembers">
      <input type="checkbox" class="filled-in eventCheckbox" <% if (conf.welcomeMembers === "true") { %> checked <% } %> id="welcomeMembers" data-selectid="welcomeChannel" name="Welcome Members" data-event="guildMemberAdd" />
      <span>Enable Welcome Message</span>
    </label>
    <br>
    <div class="left floated ui small basic github right pointing label">Welcome Channel</div>
    <select class="ui select dropdown" id="welcomeChannel">
      <% for (let i = 0; i < guildChannels.length; i++) { %>
      <% if (guildChannels[i].name == conf.welcomeChannel) { %>
      <option value="<%= conf.welcomeChannel %>" selected><%= conf.welcomeChannel %></option>
      <% } else { %>
      <option value="<%= guildChannels[i].name %>"><%= guildChannels[i].name %></option>
      <% } %>
      <% } %>
    </select>
   </div>
</div>
  
  <br>
  
  <div class="ui inverted divider"></div>
  
  <div class="container section">
    <div class="checkAndSelect" style="margin-top: 20px;">
    <label for="announceLeaves">
      <input type="checkbox" class="filled-in eventCheckbox" <% if (conf.announceLeaves === "true") { %> checked <% } %> id="announceLeaves" data-selectid="leaveAnnouncementChannel" name="Announce Member Leaves" data-event="guildMemberRemove" />
      <span>Enable Member Leave Announcement</span>
    </label>
    <br>
    <div class="ui basic github right pointing label">Leave Message Channel</div>
    <select class="ui select dropdown" id="leaveAnnouncementChannel">
      <% for (let i = 0; i < guildChannels.length; i++) { %>
      <% if (guildChannels[i].name == conf.leaveAnnouncementChannel) { %>
      <option value="<%= conf.leaveAnnouncementChannel %>" selected><%= conf.leaveAnnouncementChannel %></option>
      <% } else { %>
      <option value="<%= guildChannels[i].name %>"><%= guildChannels[i].name %></option>
      <% } %>
      <% } %>
    </select>
    </div>
  </div>
  
  <br>
  
  <div class="ui inverted divider"></div>
  
  <div class="container section">
    <div class="checkAndSelect" style="margin-top: 20px;">
    <label for="announceBans">
      <input type="checkbox" class="filled-in eventCheckbox" checked id="announceBans" data-selectid="banAnnouncementChannel" name="Announce Bans" data-event="guildBanAdd"/>
      <span>Enable Member Ban Announcement</span>
    </label>
    <br>
    <div class="ui basic github right pointing label">Ban Message Channel</div>
    <select class="ui select dropdown" id="banAnnouncementChannel">
      <% for (let i = 0; i < guildChannels.length; i++) { %>
      <% if (guildChannels[i].name == conf.banAnnouncementChannel) { %>
      <option value="<%= conf.banAnnouncementChannel %>" selected><%= conf.banAnnouncementChannel %></option>
      <% } else { %>
      <option value="<%= guildChannels[i].name %>"><%= guildChannels[i].name %></option>
      <% } %>
      <% } %>
    </select>
  </div>
</div>
  
  <br>
  
  <div class="ui inverted divider"></div>
  
  <div class="container section">
    <div class="checkAndSelect" style="margin-top: 20px;">
    <label for="announceNewChannels">
      <input type="checkbox" class="filled-in eventCheckbox" checked id="announceNewChannels" data-selectid="newChannelAnnouncementChannel" name="Announce New Channels" />
      <span>Enable New Channel Announcement</span>
    </label>
    <br>
    <div class="ui basic github right pointing label">New Channel Announcement Channel</div>
    <select class="ui select dropdown" id="newChannelAnnouncementChannel">
      <% for (let i = 0; i < guildChannels.length; i++) { %>
      <% if (guildChannels[i].name == conf.newChannelAnnouncementChannel) { %>
      <option value="<%= conf.newChannelAnnouncementChannel %>" selected><%= conf.newChannelAnnouncementChannel %></option>
      <% } else { %>
      <option value="<%= guildChannels[i].name %>"><%= guildChannels[i].name %></option>
      <% } %>
      <% } %>
    </select>
  </div>
</div>
  
</div>

<div class="tabcontent col-md-auto col-sm-auto" id="Automod">
  <div class="ui warning message">
  <i class="close icon"></i>
  <div class="header">
    Currently Under Construction
  </div>
  This part of the website is currently still in development, thank you for your patience and sorry for any inconvenience ^-^
</div>
</div>

<div class="tabcontent col-md-auto col-sm-auto" id="Logging">
  <div class="ui warning message">
  <i class="close icon"></i>
  <div class="header">
    Currently Under Construction
  </div>
  This part of the website is currently still in development, thank you for your patience and sorry for any inconvenience ^-^
</div>
</div>